ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    
}

li{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:blue
}